body {
    margin: 50px;
    background-image: url(../asets/img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.logo-druzh {
    max-width: 100%;
    height: auto;
}

.titulo {
    text-align: center;
}

.volver {
    width: 10px;
}

.lista {
    text-align: center;
    margin-top: 20%;
}

.item {
    text-align: start;
    font-size: 18px;
}

.item2 {
    text-align: end;
    font-size: 20px;
}

.version {
    text-align: center;
    margin-top: 20%;
}